#root {
  position: relative;
  top: 0;
  text-align: center;
}

* {
  box-sizing: border-box;
}

h1 {
  position: relative;
  top: 30px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 3rem;
}